{% extends 'collection/base.html' %}
{% block content %}

    {% for category in video_items.0.CAT_CHOICES %}

        <h1>{{ category.1 }}</h1>

        <div class="container">
        <div class="row">
            {% for item in video_items %}

                {% if category.0 == item.category %}
                    <div class="col-md-4">

                        <div class="card mb-2">
                            <div class="card-body">

                                <h5 class="card-title"> {{ item.title }} </h5>

                                <a href="{% url 'collection:video' item.pk %}">
                                    <img class="card-img-top" src="{{ item.image_preview.url }}", alt="image of project" width="300">
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>


    {% endfor %}



<style>
#home_nav {
  background: #e5e5e5;
  font-weight: bold;
}
</style>
{% endblock %}

