{% extends 'collection/base.html' %}
{% block content %}

    <div class="video-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div id="player"></div>
                </div>
                <br>
                    <div class="col-md-5 col-sm-5">

                    <h2>{{ video_item.title }}</h2>
                    <p>{{ video_item.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" onclick="startRecognition()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"></path>
                  <path fill-rule="evenodd" d="M10 8V3a2 2 0 1 0-4 0v5a2 2 0 1 0 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"></path>
                </svg>
                Instrucción por voz
              </button>
    <div>
        <p class="output"></p>
    </div>

    <script>
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '300',
          width: '500',
          videoId: '{{ video_item.youtube_id }}'
        });
      }

      function playVideo() {
        player.playVideo();
      }

      function pauseVideo() {
        player.pauseVideo();
      }

      function stopVideo() {
        player.stopVideo();
      }



    // Reconocimiento de voz
    var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition
    var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList
    var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent

    //var INSTRUCCIONES_VALIDAS = ["reproducir", "pausar", "terminar"]
    var  INSTRUCCIONES_VALIDAS = {
        "play": ["reproducir", "play", "continuar", "ver", "empezar", "comenzar"],
        "pause": ["pausa", "pausar", "parar"],
        "stop": ["stop", "terminar", "fin", "salir"]
    }

    var recognition = new SpeechRecognition();
    recognition.continuous = false;
    recognition.lang = 'es-ES';
    recognition.interimResults = false;
    recognition.maxAlternatives = 1;

    var diagnostic = document.querySelector('.output');
    var bg = document.querySelector('html');
    var hints = document.querySelector('.hints');

    function startRecognition(){
        recognition.start();
        console.log('Preparado para recibir una instrucción de video.');
    }

    recognition.onresult = function(event) {
      // The SpeechRecognitionEvent results property returns a SpeechRecognitionResultList object
      // The SpeechRecognitionResultList object contains SpeechRecognitionResult objects.
      // It has a getter so it can be accessed like an array
      // The first [0] returns the SpeechRecognitionResult at the last position.
      // Each SpeechRecognitionResult object contains SpeechRecognitionAlternative objects that contain individual results.
      // These also have getters so they can be accessed like arrays.
      // The second [0] returns the SpeechRecognitionAlternative at position 0.
      // We then return the transcript property of the SpeechRecognitionAlternative object
      var instruccion_recibida = event.results[0][0].transcript;
      diagnostic.textContent = 'Instrucción entendida: ' + instruccion_recibida;
      console.log('Confidence: ' + event.results[0][0].confidence);

      if (INSTRUCCIONES_VALIDAS["play"].includes(instruccion_recibida)){
          playVideo()
      }

      else if (INSTRUCCIONES_VALIDAS["pause"].includes(instruccion_recibida)){
          pauseVideo()
      }

      else if (INSTRUCCIONES_VALIDAS["stop"].includes(instruccion_recibida)){
          stopVideo()
      }
    }

    recognition.onspeechend = function() {
        recognition.stop();
    }

    recognition.onnomatch = function(event) {
        diagnostic.textContent = "No he entendido.";
    }

    recognition.onerror = function(event) {
        diagnostic.textContent = 'Error occurred in recognition: ' + event.error;
    }

    </script>
{% endblock %}

